<!-- Subject -->
Die Ente Lacht

<!-- Preheader -->
super duper ente ente

<!-- HTML Body -->
<h1 style="font-family:arial,helvetica,sans-serif;font-size: 30px; padding-right: 30px;">
	Headline
</h1>

<p style="font-family:arial,helvetica,sans-serif;font-size: 16px;">
	Hello {{first_name}} {{last_name}},<br>
	<br>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, alias aperiam aspernatur consequatur ea eos ex hic
	minima necessitatibus nemo, non numquam porro rem soluta tempore totam, ut veniam voluptate.
</p>

<p style="font-family:arial,helvetica,sans-serif;font-size: 16px;">
	With kind regards,<br>
	the Matrix<br>
</p>
